
body {background-color: #99FF99}
h1 {
text-align:center;
color:green;
font-family:Tahoma, Geneva, sans-serif;
font-size:300%
}

p {
  text-align:center;
color:green;
font-family:Tahoma, Geneva, sans-serif;
font-size:100%
}
